<div class="w-full h-full rounded-xl grid grid-cols-2 gap-4">
    <a class="relative h-[200px] lg:h-[250px] w-full cursor-pointer group transition-all duration-300 col-span-2 sm:col-span-1">
        <img class="absolute rounded-xl w-full h-full"
             src="assets/realisations/coworkrz.png" alt="Coworkrz image">
        <div class="h-full p-4 opacity-0 flex flex-col items-center justify-center gap-4 transition-all duration-300 absolute z-1 bg-black group-hover:opacity-70 rounded-xl text-white">
            <h1 class="text-xl font-bold">
                Coworkrz
            </h1>
            <p class="text-center text-broken-white">
                Une application pour pouvoir facilement gerer un espace de coworking, reservation de salle, facture, abonnement, achat de produit vendu dans l'espace.
            </p>
            <span class="flex items-center gap-2 underline"><ng-icon name="hugeLink03" size="21px"></ng-icon>Take a look</span>
        </div>
    </a>
</div>
